<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">ADrenaline Sports Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleCart()" style="cursor: pointer;">
            <i class="material-icons">shopping_cart</i>
            <span class="badge badge-pill badge-danger" *ngIf="cartItemCount$ | async as count">{{ count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>